pkgbase = mpv-v4l2request-git
	pkgdesc = mpv with hw accel for allwinner/rockchip SoCs
	pkgver = r54427.370fd8b557
	pkgrel = 1
	provides = mpv
	conflicts = mpv
	url = https://mpv.io/
	arch = aarch64
	license = GPL-2.0-or-later AND LGPL-2.1-or-later
	makedepends = git
	makedepends = meson
	makedepends = python-docutils
	makedepends = ladspa
	makedepends = wayland-protocols
	makedepends = ffnvcodec-headers
	makedepends = vulkan-headers
	depends = alsa-lib
	depends = desktop-file-utils
	depends = ffmpeg-v4l2request
	depends = glibc
	depends = hicolor-icon-theme
	depends = jack
	depends = lcms2
	depends = libarchive
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcdio-paranoia
	depends = libdisplay-info
	depends = libdrm
	depends = libdvdnav
	depends = libdvdread
	depends = libegl
	depends = libgl
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libplacebo
	depends = libpulse
	depends = libsixel
	depends = libva
	depends = libvdpau
	depends = libx11
	depends = libxext
	depends = libxkbcommon
	depends = libxpresent
	depends = libxrandr
	depends = libxss
	depends = libxv
	depends = luajit
	depends = mesa
	depends = mujs
	depends = libpipewire
	depends = rubberband
	depends = sdl2
	depends = openal
	depends = uchardet
	depends = vapoursynth
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	optdepends = yt-dlp: for video-sharing websites playback
	provides = libmpv.so
	options = !emptydirs
	source = git+https://github.com/philipl/mpv.git#branch=v4l2request
	source = fix_wayland_clipboard_high_cpu_usage.patch
	sha256sums = SKIP
	sha256sums = 610227f044853fe88888d2317ead0e29c84ccffbdb7f712c3671187778b5b60e

pkgname = mpv-v4l2request-git
	depends = alsa-lib
	depends = desktop-file-utils
	depends = ffmpeg-v4l2request
	depends = glibc
	depends = hicolor-icon-theme
	depends = jack
	depends = lcms2
	depends = libarchive
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcdio-paranoia
	depends = libdisplay-info
	depends = libdrm
	depends = libdvdnav
	depends = libdvdread
	depends = libegl
	depends = libgl
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libplacebo
	depends = libpulse
	depends = libsixel
	depends = libva
	depends = libvdpau
	depends = libx11
	depends = libxext
	depends = libxkbcommon
	depends = libxpresent
	depends = libxrandr
	depends = libxss
	depends = libxv
	depends = luajit
	depends = mesa
	depends = mujs
	depends = libpipewire
	depends = rubberband
	depends = sdl2
	depends = openal
	depends = uchardet
	depends = vapoursynth
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	depends = libasound.so
	depends = libavcodec.so
	depends = libavdevice.so
	depends = libavfilter.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libdisplay-info.so
	depends = libswresample.so
	depends = libswscale.so
	depends = libjack.so
	depends = liblcms2.so
	depends = libarchive.so
	depends = libass.so
	depends = libbluray.so
	depends = libjpeg.so
	depends = libplacebo.so
	depends = libpulse.so
	depends = libva.so
	depends = libva-drm.so
	depends = libva-wayland.so
	depends = libva-x11.so
	depends = libxkbcommon.so
	depends = librubberband.so
